<div class="relative w-full lg:w-[88%] ml-auto h-[300px] sm:h-[400px] lg:h-auto lg:absolute lg:inset-0 overflow-hidden">
  <img
    src="/assets/me.jpg"
    alt="Michael"
    class="w-full h-full object-cover shadow-sm"
    loading="eager"
  />
</div>
